* {
    align-items: center;
}
.upper {
    align-items: center;
    border: 3px solid black;
}
h2 {align-items: center;}
.contact {
    background-color: rgb(145, 145, 145);
    align-self: center;
    width: 75%;
    height: 75vh;
    border: 3px solid black;
    color: black;
    #contact {
        align-items: center;
    }
}