body {
    background-color: rgb(99, 99, 99);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: large;
    }
* {
    margin-top: 5px;
    margin-right: 4px;
    margin-left: 4px;
}
div {
    align-self: center;
    border: 5px solid rgb(0, 10, 75);
    background: rgb(255,173,72);
    background: radial-gradient(circle, rgb(255, 205, 144) 0%, rgba(255,196,106,1) 27%, rgb(255, 212, 128) 45%, rgba(255,204,126,1) 79%, rgba(255,209,143,1) 100%);
    padding-bottom: 2%;
    
}
div button {
    width: 300px;
    height: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(253, 203, 184);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
